@model IEnumerable<UniSA.Domain.UserMicroCredentialBadges>

@{
    ViewBag.Title = "CandidateBadgesView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="padding:10px !important;">
        <h2>Candidate Badges View</h2>

        <div class="table">
            <div class="row">
                <div class="col-lg-4">
                    <h4>@Html.DisplayNameFor(model => model.Username)</h4>
                </div>
                <div class="col-lg-4">
                    <h4>@Html.DisplayNameFor(model => model.MicroCredentialBadges)</h4>
                </div>
                <div class="col-lg-4">
                    <h4>Certificate Badge Thumbnail</h4><div></div>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div>
                    @Html.HiddenFor(modelItem => item.CandidateId)
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.DisplayFor(modelItem => item.Username)
                    </div>
                    <div class="col-lg-4">
                        @Html.DisplayFor(modelItem => item.MicroCredentialBadges)
                    </div>
                    <div class="col-lg-4">
                        @{
                            var certUrl = (ViewBag.CertificateImageUrl as string[]).FirstOrDefault(q => q.Contains(item.MicroCredentialBadges));

                            <a href="@certUrl"><img src="@certUrl" alt="Certificate for @item.MicroCredentialBadges" style="width:90%; height:auto;margin:auto;" /></a>

                        }
                    </div>
                </div>

                <div style="width:80%";margin:auto;><hr /></div>
            }

        </div>
    </div>