@model IEnumerable<UniSAEmloyeeEmployerCertificationAndEngagement.Models.JobViewModel>

@{
    ViewBag.Title = "Apply For Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding:10px !important;">
    <h2>Apply For Job</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPositions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
        @{ 
            var ind = 1;
            foreach (var item in Model)
            {
                var formDivId = "FormDiv" + @ind.ToString();
            <tr>
                @Html.HiddenFor(modelItem => item.JobId)
                <td>
                    @Html.DisplayFor(modelItem => item.JobCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPositions)
                </td>
                <td>
                    @((ViewBag.EmployerIdList as List<SelectListItem>).First(e => e.Value == item.EmployerId.ToString()).Text)
                </td>

                <td>
                    @item.IsActive.ToString()
                </td>
                <td>
                    @item.DateUpdated.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.ActionLink("Apply For Job", "ApplyForJob", new { id = item.JobId })
                </td>
            </tr>

                ind++;
            }
        }

    </table>
</div>