@model IEnumerable<UniSA.Domain.UserMicroCredentialBadges>

@{
    ViewBag.Title = "CandidateBadgesView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="padding:10px !important;">
        <h2>Candidate Badges View</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CandidateId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MicroCredentialBadges)
                </th>
                <th>Certificate Badge Thumbnail</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MicroCredentialBadges)
                    </td>
                    <td>
                        @{                             
                            var certUrl = (ViewBag.CertificateImageUrl as string[]).FirstOrDefault(q => q.Contains(item.MicroCredentialBadges));

                            <h6>Click Certificate Thumbnail, To Download Certificate</h6>
                            <a href="@certUrl"><img src="@certUrl" alt="Certificate for @item.MicroCredentialBadges" style="width:20%; height:auto;" /></a>

                        }
                    </td>
                </tr>
            }

        </table>
    </div>