@model UniSAEmloyeeEmployerCertificationAndEngagement.Models.MicroCredentialBadgeWithMicroCredentialNameViewModel[]

<div>
    <h4>User MicroCredentialBadges ViewModel</h4>
    <div><em>@User.Identity.Name Badges Attained</em></div>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var badge in Model)
        {
            <dt>
                @Html.DisplayName("MicroCredentialName")
            </dt>
            <dd>
                @badge.MicroCredentialName
            </dd>
            <dt>
                @Html.DisplayName("CertificateImage")
            </dt>
            <dd>@{ 
                var certUrl = (ViewBag.CertificateImageUrl as string[]).FirstOrDefault(q => q.Contains(badge.MicroCredentialBadges));
                <h6>Click Certificate Thumbnail, To Download Certificate</h6>
                <a href="@certUrl"><img src="@certUrl" alt="Certificate for @badge.MicroCredentialName" style="width:20%; height:auto;" /></a>
                }
            </dd>
            <dt>
                @Html.DisplayName("Badge Id")
            </dt>

            <dd>
                @badge.MicroCredentialBadgeId
            </dd>

            <dt>
                @Html.DisplayName("Badge Name")
            </dt>

            <dd>
                @badge.MicroCredentialBadges
            </dd>
            <hr />
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
